services:
    mongo:
        image: mongo
        restart: always
        environment:
            MONGO_INITDB_ROOT_USERNAME: mongoadmin
            MONGO_INITDB_ROOT_PASSWORD: mongopassword
        ports:
            - 27017:27017
    backend:
        image: ghcr.io/olehvavryniv/vscreens-school-backend
        restart: always
        environment:
            MONGO_URL: mongodb://mongoadmin:mongopassword@mongo:27017
            PORT: 3001
            VSCREEN_URL: http://vscreen.org.ua
            # VSCREEN_URL: http://host.docker.internal:3000
            MONGO_DB_NAME: schoolDB
            SCREEN_ID: ${SCREEN_ID}
            SCREEN_TOKEN: ${SCREEN_TOKEN}
        ports:
            - 3001:3001
        depends_on:
            - mongo
    frontend:
        image: ghcr.io/olehvavryniv/vscreens-school-frontend:${ORGANIZATION_NAME}
        restart: always
        ports:
            - 80:80
        depends_on:
            - backend