@import-normalize;

@font-face {
    font-family: "Roboto Condensed";
    src: url('/fonts/RobotoCondensed-Regular.ttf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('/fonts/Roboto-Regular.ttf') format('opentype');
    font-style: normal;
}

$gray-1: #8D8D8D;
$gray-2: #CECECE;
$green-1: #47DD00;
$yellow-1: #FBD300;
$red-1: #FF0000;
$blue-1: #0085FF;
$blue-2: #85A5F8;

html {
    font-size: 16px;
}

body {
    margin: 0;
    overflow-y: hidden;
}

.main {
    display: flex;
}

.left-panel {
    width: 19%;
    height: 100vh;
    padding: 1rem 0;
    box-sizing: border-box;

    .logo-wrapper {
        height: 20vh;
        text-align: center;
    }

    .schedules-wrapper {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .schedule-item {
            .name {
                font-family: 'Roboto';
                font-size: 2rem;
                color: $gray-1;
            }

            .time {
                font-family: 'Roboto Condensed';
                font-size: 5.5rem;
            }

            .lesson-name {
                font-family: 'Roboto Condensed';
                font-size: 2.5rem;
            }

            .dot {
                display: inline-block;
                width: 1rem;
                height: 1rem;
                border-radius: 1rem;
                margin-right: 1rem;
            }

            .dot.green {
                background-color: $green-1;
            }

            .dot.yellow {
                background-color: $yellow-1;
            }
        }
    }
}

.main-panel {
    flex: 1;
    height: 100vh;
    background: linear-gradient(90deg, #F4F4F4 0%, #F4F4F4 0.01%, rgba(244, 244, 244, 0) 50%);
    box-sizing: border-box;
    padding: 4rem 3rem 4rem 5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .heading {
            width: 80%;
            padding: 1rem 2rem;
            font-family: 'Roboto';
            font-size: 3.5rem;
            background-color: white;
            border-radius: 2rem;
        }

        .clock-wrapper {
            font-family: 'Roboto Condensed';

            .time {
                font-size: 5rem;
            }

            .date {
                font-size: 2rem;
                text-align: center;
            }
        }
    }

    .screen-wrapper {
        flex: 1;
        padding: 2rem;

        .announcement-block {
            font-family: 'Roboto';
            font-size: 3rem;
            padding-top: 2rem;

            .announcement {
                display: flex;
                align-items: baseline;
                margin-bottom: 5rem;

                .dot {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 2rem;
                    margin: 0 2rem 0 0;

                    &.red {
                        background-color: $red-1;
                    }

                    &.blue {
                        background-color: $blue-1;
                    }
                }

                .text {
                    flex: 1;
                }

            }

            .description {
                font-family: 'Roboto Condensed';
                font-size: 2rem;
                color: $gray-1;
            }
        }

        .calendar-block {
            .week-wrapper {
                display: flex;
                justify-content: space-between;
                font-family: 'Roboto Condensed';

                .week-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem;
                    border-radius: 2rem;
                    color: $gray-1;

                    .day-name {
                        font-size: 2.3rem;
                    }

                    .date {
                        font-size: 6rem;
                    }

                    &.current {
                        background-color: white;
                        color: black;
                    }

                    &.weekend {
                        color: $gray-2;
                    }

                    .dots-wrapper {
                        min-height: 0.7rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        .dot {
                            width: 1rem;
                            height: 1rem;
                            border-radius: 0.7rem;
                            background-color: $blue-2;
                            margin-right: 0.3rem;
                            margin-left: 0.3rem;
                        }
                    }
                }
            }

            .today-events {
                background-color: white;
                border-radius: 2rem;
                margin-top: 1rem;
            }

            .next-events {
                color: $gray-1;

                .separator {
                    background-color: $gray-1 !important;
                }
            }

            .event {
                display: flex;
                align-items: center;

                .separator {
                    width: 2px;
                    background-color: black;
                    height: 7rem;
                    margin-right: 2rem;
                }

                .date {
                    font-family: 'Roboto Condensed';
                    font-size: 6rem;
                    padding: 1.5rem;
                }

                .description {
                    font-family: 'Roboto';
                    flex: 1;

                    .name {
                        font-size: 3rem;
                    }

                    .details {
                        display: flex;
                        font-size: 1.7rem;
                        margin-top: 0.7rem;

                        .location {
                            width: 30%;

                            svg {
                                margin-right: 0.5rem;
                            }
                        }

                        .time {
                            svg {
                                margin-right: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}